*{
    margin: 0;
padding: 0;
}

body{font-family: Georgia, 'Times New Roman', Times, serif;}



.cabecalho {background-color: rgb(255, 1, 1);
color: rgb(0, 0, 0);
display: flex;
justify-content: space-around;
padding: 23px 0;
}
 .cabecalho-imagem{
    width: 15%;
    height: 10%;}
 .cabecalho-lista-item{
display:ruby-base-container;
margin: 3 15px;
padding: 24px 0;
font-size: 24px;}
h1
 {display: inline-block;
    margin: 0 16px;
    padding: 120px 0;
    font-size: 35px;}
p
{margin: 0 50px}
 
.escola-imagem{
   width: 15%;
}
.escola{
   background-image:linear-gradient(red, rgb(255, 249, 249));
   color:rgb(0, 0, 0);
   display: flex;
    justify-content: baseline;
    padding: 50px;
   }

.escola-titulo
{padding: 50px 50px;}
.aluno-um{
   width: 40%;
   text-align: center;

}
.estudante-icone{
   width: 60px;

}
.alunos-titulo{
 text-align: center;
}
.estudante-div{
   text-align: center;
}
.estudantestodos{
   display: grid;
   grid-template-columns: 25% 25% 25% 25%;
}

